<div class="row">
  <div class="col-md-12">
    <h2>Login</h2>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4 login-box">
    <div class="form-group">
      <label class="float-left">Email</label>
      <input type="email" name="email" [(ngModel)]='email' class="form-control">
    </div>
    <div class="form-group">
      <label class="float-left">Password</label>
      <input type="password" name="pwd" [(ngModel)]='password' class="form-control">
    </div>

    <div class="form-group ">
      <button class="btn btn-info mt-2" (click)="Login()">Sign In</button>&nbsp;
      <button routerLink="/register" class="btn btn-success mt-2">Sign Up</button>
    </div>
  </div>
</div>